body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #333;
    font-size: 12px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.main {
    height: 100%;
    background-color: #fff;
    font-size: 0;
}

.step {
    transform-origin: -50% -50%;
    font-size: 12px;
    height: 100%;
    width: 100%;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.step1 {
    background-color: #22B573;
    line-height: 100%;
}

.step2 {
    background-color: #1889C5;
}

.step3 {
    background-color: #9C58B6;
}

.step4 {
    background-color: #26B1B6;
}

.step5 {
    background-color: #129DE7;
}

@keyframes fallsDown {
    0% {
        transform: rotateZ(0deg) translate(-50%, -50%)
    }
    10% {
        transform: rotateZ(20deg) translate(-50%, -50%)
    }
    25% {
        transform: rotateZ(50deg) translate(-50%, -50%)
    }
    50% {
        transform: rotateZ(40deg) translate(-50%, -50%)
    }
    70%, 80% {
        transform: rotateZ(45deg) translate(-50%, -50%)
    }
    83% {
        opacity: 1;
        transform: rotateZ(45deg) translate(-40%, -40%)
    }
    85% {
        transform: rotateZ(45deg) translate(-30%, -30%)
    }
    88% {
        transform: rotateZ(45deg) translate(-20%, -20%)
    }
    90% {
        transform: rotateZ(45deg) translate(0, 0)
    }
    100% {
        transform: rotateZ(45deg) translate(2000px, 2000px);
        opacity: 0;
    }
}

@keyframes getBackHere {
    100% {
        transform: rotateZ(0deg) translate(-50%, -50%);
        opacity: 1
    }
    30% {
        transform: rotateZ(45deg) translate(-10%, -10%)
    }
    0% {
        transform: rotateZ(45deg) translate(2000px, 2000px);
        opacity: 0
    }
}

.fallsDown {
    animation: fallsDown 1s linear forwards;
}

.getBackHere {
    animation: getBackHere .4s linear forwards;
}

.main {
    position: relative;
}

.next, .prev {
    opacity: .4;
    z-index: 99;
    position: fixed;
    right: 40px;
    top: 14%;
    height: 80px;
    width: 80px;
    cursor: pointer;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
}

.next:hover, .prev:hover {
    opacity: .8
}

.prev {
    display: none;
}

.next {
    top: 75%;
}

.step1>div,.step5 > p {
    color: white;
    text-align: center;
    width: 100%;
    transform: translateY(-100%);
    top: 0;
    position: absolute;
    transition: all 1s;
    opacity: 0;
}

.step1>div>p ,.step5 > p{
    font-size: 100px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: block;
    line-height: 100px;
}

.subTitle {
    position: absolute;
    right: 15%;
    margin-top: 50px;
    font-size: 20px;
}

.active .fadeIn {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.step2 .container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    align-items: center;
}

.container-small {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    align-items: top;
}

.container-small>div {
    font-size: 16px;
    flex: 1;
    text-align: left;
}

.container-small>div:last-child:first-child {
    margin-left: 40px;
}

.container-small>div:last-child {
    text-align: left;
    flex: 1;
}

.container-small>div>ul>li {
    margin-top: 10px;
    line-height: 30px;
}

.step2 .container>div {
    width: 25%;
    text-align: center;
}

.container .image_box {
    height: auto;
    overflow: hidden;
    /* border-radius: 50%; */
    width: 22%;
}

.container .image_box img {
    width: 100%;
    height: 100%;
}

.container .item img {
    display: inline-block;
    /* border-radius: 50%; */
    transition: .8s all;
    width: 28%;
}

.container .item a {
    overflow: hidden;
}
.active .blingbling{
    animation:blingbling 1s alternate infinite;
}
.active .pumpUp{
    animation:pumpUp 1s alternate infinite;
}
@keyframes blingbling{
    0%{
        /* background-color: transparent; */
        background-color: transparent;
    }
    100%{
        /* background-color: #e8e8e5; */
        background-color: #c583df;
    }
}
@keyframes pumpUp{
    0%{
        transform: scale(1)
    }
    100%{
        transform: scale(1.2)

    }
}
.container .item img:hover {
    transform: rotate(360deg)
}

.title {
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.step3>.container {}

.step3>.container>.skill {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #fff;
    margin-top: 15%;
    flex-flow: row wrap;
    align-items: flex-start;
}

.step3>.container>.skill ul {
    min-width: 200px;
    width: 20%;
    border: 4px solid #fff;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
}

.step3>.container>.skill ul li {
    text-align: center;
    line-height: 35px;
    margin-top: -1px
}

.step3>.container>.skill ul li:hover {
    background-color: #fff;
    color: #333;
}

.step3>.container>.skill ul li:first-child {
    background-color: #fff;
    color: #333;
    width: 100%;
    display: block;
    margin-top: 0px;
    cursor: default;
    width: 100%;
}

.step4>.container {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.step4>.container>div{
    flex: 1;
    margin: 0 20px;
    text-align: center;
    transform:translate(0,-1000px);
    transition:1s all;
}
.step4>.container>div:nth-child(2) {
    transform:translate(0,-2000px);
}
.step4>.container>div:nth-child(3){
    transform:translate(0,-3000px);
}
.step4.active>.container>div{
    transform: translate(0,0);
}
.step4>.container>div>.projectLogo {
    display: inline-block;
    width: 30%;
    height: 30%;
    min-height: 87.5px;
    min-width: 87.5px;
}

.step4>.container>div>.projectLogo>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.step4 .project{
}
.step4 .projectDesc {
    margin-top: 20px;
}

.step4 .descTitle {
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.step4 .descContent {
    color: #fff;
    text-align: left;
    font-size: 20px;    
    text-indent: 1em;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    
}
.step5{
    text-align: center;
    font-size: 60px;
    color: #fff;
    line-height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
@media screen and (max-width:1680px) {
    .step3>.container>.skill {
        margin-top: 5%;
    }
}

@media screen and (max-width:1000px) {
    .step {
        border-radius: 0;
        width: 100%;
    }
    .prev, .next {
        right: 14px;
        font-size: 40px;
    }
    .container {
        width: 100%;
    }
    .step1>div>p {
        font-size: 60px;
    }
    .next {
        top: 75%;
    }
    .container .item img {
        width: 50%;
    }
    .container-small>div:last-child:first-child {
        margin-left: 0;
    }
    .container-small>div {
        font-size: 10px;
    }
    .container .image_box {
        width: 22%;
    }
    .container .image_box img {
        width: 100%;
    }
    .container-small {
        margin-left: 20%;
        width: 70%;
        margin-top: 20px;
        align-items: top;
    }
    .container-small>div>ul>li {
        line-height: 15px;
    }
    .step3>.container>.skill {
        margin-top: 30px;
    }
    .step3>.container>.skill ul {
        min-width: 170px;
    }
    .step4>.container>div>.projectLogo {
        width: 70%;
        height: 70%;
    }
    .step4 .descContent{
        display: none;
    }
}